/*Para el cuerpo pagina*/
body{
    background-image: url(../img/fondo.jpeg);
    background-size: cover;
}

/*Titulos y parrafos*/
#over{
    font-family: texto;
    font-size: 100px;
    text-align: center;
    margin-top: 50px;
    margin-right: 10px;
    color: white;
}


#nav1{
    margin: auto;
    background-color: inherit;
    display: flex;
    align-self: center;
    justify-content: center;
    font-family: texto;
    margin-top: 100px;
}

/*Imagen*/

#foto{
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    margin-left: 510px;
    border-radius: 10px;
    border:rgb(34, 44, 54);
    border: 5px solid rgb(34, 44, 54);
    padding: 3px;
    border-image:url("../img/hasPerdido.jpg") 30 30 stretch;
}

/*Botones*/

button{
    display: inline-block;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: rgb(54, 52, 52);
    background: rgb(180, 212, 238);
    line-height: 15px;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
    box-shadow: rgb(110, 138, 173) -1px -1px 0px 1px, rgb(34, 44, 54) 0px 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 1px 3px;
    transition: all 0.2s;
    font-family: texto1;
    margin-left: 10px;
    margin-top: 5px;

}

button:hover{
    box-shadow: rgb(110, 138, 173) -1px -1px 0px 1px, rgb(34, 44, 54) 0px 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 1px 3px;
    transform: scale(1.01);
}

/*Tipo de letra*/
@font-face{
    font-family: texto1;
    src: url(../res/nasalization-rg.otf);
  }

  @font-face{
    font-family: texto;
    src: url(../res/WaitingfortheSunrise.ttf);
  }