/*Para el cuerpo pagina*/
body{
    background-image: url(../img/fondo.jpeg);
    background-size: cover
}
*{
    font-family: texto1;
    color:#ffff;
    margin:0;
}

html{
    font-size: 20px;

    @media screen and (max-width: 540px) {
        font-size: 16px;
    }
}

/*Titulo principal*/
.titulo3{
    background: linear-gradient(rgb(54, 63, 114),rgb(97, 129, 179),rgb(54, 63, 114));
    -webkit-background-clip: text;
    color: transparent; 
    font-family: texto;
    text-align: center;
    font-size: 70px;
    text-shadow: -4px 3px rgb(110, 138, 173);
    margin-top: 2px;
    margin-bottom: 2px;
}

.texto{
    font-family: texto1;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/*Botones*/
#menu{
    margin: 5px;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: texto1;
    z-index: 1;
}

#menu a{
    display: inline-block;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: rgb(54, 52, 52);
    background: rgb(180, 212, 238);
    line-height: 15px;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
    box-shadow: rgb(110, 138, 173) -1px -1px 0px 1px, rgb(34, 44, 54) 0px 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 1px 3px;
    transition: all 0.2s;
    font-family: texto1;
    margin-left: 10px;
    margin-top: 5px;
}

#menu a:hover{
    box-shadow: rgb(110, 138, 173) -1px -1px 0px 1px, rgb(34, 44, 54) 0px 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 1px 3px;
    transform: scale(1.01);
}

.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.content{
    padding: 16px;
}
.fixed + .content{
    padding-top: 60px;
}

/*Imágenes*/
.img_left{
    display: block;
    width: 125px;
    height: 125px;
    float:left;
}

.img_right{
    display: block;
    width: 125px;
    height: 125px;
    float: right;
}

/*Divisiones*/
.capa{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(97, 127, 163);
}

.container{
    max-width: 700px;
    width:100%;
    text-align: center; 
    background:rgb(97, 127, 163); 
    opacity: 0.8;
    overflow: hidden; 
    padding: 30px; 
    border-radius:10px; 
    margin:40px auto;
    top:0px;
    position: relative;
 
}

.container:hover .capa{
    opacity: 1;
}

/*Link*/
a{
    color: white;
} 
/*Tipo de letra*/
@font-face{
    font-family: texto1;
    src: url(../res/nasalization-rg.otf);
  }

  @font-face{
    font-family: texto;
    src: url(../res/WaitingfortheSunrise.ttf);
  }