/*Para el cuerpo pagina*/
body{
    background-image: url(../img/fondo.jpeg);
    background-size: cover;
}

/*Titulos y parrafos*/
.titulo3{
    background: linear-gradient(rgb(54, 63, 114),rgb(97, 129, 179),rgb(54, 63, 114));
    -webkit-background-clip: text;
    color: transparent; 
    font-family: texto;
    text-align: center;
    font-size: 70px;
    text-shadow: -4px 3px rgb(110, 138, 173);
    margin-top: 2px;
    margin-bottom: 2px;
}

.caja_right p{
    font-family:texto1; 
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center;
    margin: 5px;
}

.caja_left p{
    font-family:texto1; 
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center;
    margin: 5px;
}

.caja_left h3{
    font-family:texto1; 
    color: #ffffff; 
    font-size: 25px; 
    font-weight: 400;
    text-align: center;
}

.caja_right h3{
    font-family:texto1; 
    color: #ffffff; 
    font-size: 25px; 
    font-weight: 400;
    text-align: center;
}

/*Botones*/
#menu{
    margin: 5px;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: texto1;
}

#menu a{
    display: inline-block;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: rgb(54, 52, 52);
    background: rgb(180, 212, 238);
    line-height: 15px;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
    box-shadow: rgb(110, 138, 173) -1px -1px 0px 1px, rgb(34, 44, 54) 0px 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 1px 3px;
    transition: all 0.2s;
    font-family: texto1;
    margin-left: 10px;
    margin-top: 5px;
}

#menu a:hover{
    box-shadow: rgb(110, 138, 173) -1px -1px 0px 1px, rgb(34, 44, 54) 0px 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 1px 3px;
    transform: scale(1.01);
}

/*Div*/

.caja_right { 
    text-align: center; 
    background:rgb(110, 138, 173); 
    margin: 8px; 
    margin-left: 125px;
    margin-right: 50px;
    overflow: hidden; 
    padding: 40px; 
    border-radius: 0px 35px 35px 35px; 
    -moz-border-radius: 0px 35px 35px 35px; 
    -webkit-border-radius: 0px 35px 35px 35px; 
    border: 5px solid rgb(180, 212, 238);
    animation-duration: 4s;
    animation-name: slidein_left;
    animation-iteration-count: 1;
}
.caja_left{
    text-align: center; 
    background:rgb(110, 138, 173); 
    margin: 8px; 
    margin-left: 125px;
    margin-right: 50px;
    overflow: hidden; 
    padding: 40px; 
    border-radius: 35px 0px 35px 35px; 
    -moz-border-radius: 35px 0px 35px 35px; 
    -webkit-border-radius: 35px 0px 35px 35px; 
    border: 5px solid rgb(180, 212, 238);
    animation-duration: 3s;
    animation-name: slidein_right;
    animation-iteration-count: 1;
}

/*Imágenes*/

.img_left{
    display: block;
    width: 175px;
    height: 200px;
    float:left;
}

.img_right{
    display: block;
    width: 175px;
    height: 200px;
    float: right;
}

/*Animacion de las cajas*/

@keyframes slidein_left{
    from {
        margin-left:0%;
        width:0%;
    }
    to{
        margin-left:10%;
        margin-right: 10%;
        width:72.5%;
    }
}
@keyframes slidein_right{
    from {
       margin-left:100%;
        width:10%;
    }
    to{
        margin-right:10%;
        margin-right: 10%;
        width:72.5%;
    }
}
/*Tipo de letra*/
@font-face{
    font-family: texto1;
    src: url(../res/nasalization-rg.otf);
}
@font-face{
    font-family: texto;
    src: url(../res/WaitingfortheSunrise.ttf);
  }
.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.content{
    padding: 16px;
}
.fixed + .content{
    padding-top: 60px;
}