/*Para el cuerpo pagina*/
body{
    background-image: url(../img/fondoHasGanado.gif);
    background-size: cover;
}

/*Titulos y parrafos*/
#win{
    font-family: texto1;
    font-size: 100px;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(97, 129, 179);
    text-align: center;
    font-weight: 300px;
    text-shadow: -4px 3px rgb(54, 63, 114);
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#nav1{
    margin: auto;
    background-color: inherit;
    display: flex;
    align-self: center;
    justify-content: center;
    font-family: texto1;
    margin-top: 50px;
    
}

/*Foto*/
#foto{
    justify-content: center;
    align-items: center;
    margin-left: 550px;
    border-radius: 10px;
    -webkit-animation: fadein 8s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/*Botón de volver a jugar*/

button{
    display: inline-block;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: rgb(54, 52, 52);
    background: rgb(180, 212, 238);
    line-height: 15px;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
    box-shadow: rgb(110, 138, 173) -1px -1px 0px 1px, rgb(34, 44, 54) 0px 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 1px 3px;
    transition: all 0.2s;
    font-family: texto1;
    margin-left: 10px;


}

button:hover{
    box-shadow: rgb(110, 138, 173) -1px -1px 0px 1px, rgb(34, 44, 54) 0px 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 1px 3px;
    transform: scale(1.01);
}

#foto{
    animation-name: bounce;
    animation-timing-function: ease;
}
#win{
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-50px); }
    100% { transform: translateY(0); }
}



/*Tipo de letra*/
@font-face{
    font-family: texto1;
    src: url(../res/nasalization-rg.otf);
}


  