/*Imagen de fondo y título del juego*/
body{
    background-image: url(../img/fondo.jpeg);
    background-size: cover;
}

*{
  font-family: texto;
}
/*Titulo principal*/         
.titulo{
    background: linear-gradient(rgb(54, 63, 114),rgb(97, 129, 179),rgb(54, 63, 114));
    -webkit-background-clip: text;
    color: transparent; 
    font-family: texto;
    text-align: center;
    justify-content: center;
    font-size: 90px;
    text-shadow: -4px 3px rgb(110, 138, 173);
}

#historia{
  justify-content: center;
  text-align: center;
  font-family: texto;
  color: rgb(255, 255, 255);
  font-size: 30px;
  text-shadow: -2px 3px rgb(0, 0, 0);
}

/*Tipo de letra*/
@font-face{
  font-family: texto;
  src: url(../res/WaitingfortheSunrise.ttf);
}







