/*Para el cuerpo pagina*/
body{
    background-image: url(../img/fondo.jpeg);
    background-size: cover
}

/*Titulo principal*/
.titulo3{
    background: linear-gradient(rgb(54, 63, 114),rgb(97, 129, 179),rgb(54, 63, 114));
    -webkit-background-clip: text;
    color: transparent; 
    font-family: texto;
    text-align: center;
    font-size: 70px;
    text-shadow: -4px 3px rgb(110, 138, 173);
    margin-top: 2px;
    margin-bottom: 2px;
}

/*Botones*/

#menu{
    margin: 5px;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: texto1;
    z-index: 1;
}

#menu a{
    display: inline-block;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: rgb(54, 52, 52);
    background: rgb(180, 212, 238);
    line-height: 15px;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
    box-shadow: rgb(110, 138, 173) -1px -1px 0px 1px, rgb(34, 44, 54) 0px 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 1px 3px;
    transition: all 0.2s;
    font-family: texto1;
    margin-left: 10px;
    margin-top: 5px;
}

#menu a:hover{
    box-shadow: rgb(110, 138, 173) -1px -1px 0px 1px, rgb(34, 44, 54) 0px 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 1px 3px;
    transform: scale(1.01);
}

.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.content{
    padding: 16px;
}
.fixed + .content{
    padding-top: 60px;

}

/*Juego*/
p{
    color: white; 
    border: black;
    font-family: texto1; 
    font-size: 20px; 
    font-weight: 500; 
    line-height: 32px; 
    margin: 0 0 24px;
    text-align: left;
}

.subtitulo{
    color: #f8f8f8; 
    font-family: texto1; 
    font-size: 20px; 
    font-weight: 500; 
    line-height: 32px; 
    margin: 0 0 24px;
    text-decoration: underline;
    text-align: center;
}

#izquierda{
    display: block;
    float: right;
    margin-top: 40px;
    text-align: left;
    background:rgb(110, 138, 173); 
    border-radius: 35px 0px 35px 35px; 
    border: 3px solid rgb(180, 212, 238);
    text-align: center;
    padding: 40px;
    opacity: 0.8;
}


/*Contador*/

.contador{
	display: block;
	text-align: center;
	font-size: 20px;
    font-family: texto1; 
    color: white;
    margin-bottom: 10px;
}

/* Botón de Jugar */
.juego{
    display: inline-block;
    outline: 0;
    border:0;
    cursor: pointer;
    text-decoration: none;
    color: rgb(54, 52, 52);
    background: rgb(180, 212, 238);
    line-height: 15px;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    font-weight: 300;
    box-shadow: rgb(110, 138, 173) -1px -1px 0px 1px, rgb(34, 44, 54) 0px 0px 0px 2px, rgba(0, 0, 0, 0.05) 0px 0px 1px 3px;
    transition: all 0.2s;
    font-family: texto1;
    margin-left: 47%;
    position: relative;
}

section{
    display:inline;
    float: left;
    margin-top: 225px;
    margin-left: 50px;
}

/*Campo de juego*/
canvas{
    display: block;
    margin: 0 auto;
    background-image: url(../img/fondocanvas2.jpg);
    border: 3px solid black;
    background-size: cover;
    margin-left: 15%;
}

/*Tipo de letra*/
@font-face{
    font-family: texto1;
    src: url(../res/nasalization-rg.otf);
}

@font-face{
    font-family: texto;
    src: url(../res/WaitingfortheSunrise.ttf);
  }


